<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Jesper</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/bootstrap.bundle.js" type="application/javascript"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Jesper社区</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">首页</a>
                </li>
                &nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#">推荐</a>
                </li>
                &nbsp;
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        分类
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">系统分类</a></li>
                        <li><a class="dropdown-item" href="#">机型分类</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">更多分区</a></li>
                    </ul>
                </li>
                &nbsp;
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="输入搜索关键词" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/login">登录</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">个人中心</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">消息</a></li>
                        <li><a class="dropdown-item" href="#">活动</a></li>
                        <li><a class="dropdown-item" href="#">公告</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">个人空间</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
Jesper
</body>
</html>