<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Jesper</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.bundle.js" type="application/javascript"></script>
    <script src="js/common.js" type="application/javascript"></script>

</head>
<body>
<header></header>
Jesper
<footer></footer>
</body>
</html>